* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // reusable Classes // */
.text-weight-300 {
  font-weight: 300;
}

.text-weight-400 {
  font-weight: 400;
}

.text-weight-600 {
  font-weight: 600;
}

.color-desaturated-red {
  color: hsl(0, 36%, 70%);
}

.color-soft-red {
  color: hsl(0, 93%, 68%);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.color-dark-grayish-red {
  color: hsl(0, 6%, 24%);
}

.hidden {
  display: none;
}

.incorrect-input {
  border: 1px solid red;
}

/* --- regular styling begins --- */
body {
  width: 100%;
  height: 100vh;
  background-image: url("images/bg-pattern-desktop.svg");
  font-family: "Josefin Sans", sans-serif;
  display: flex;
}

#left-side {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-left-side {
  width: 50%;
  height: 80%;
  /* background: lightgray; */
}

.logo {
  width: 50%;
}

.mobile-logo {
  display: none;
  /* display: none; */
  /* width: 50%; */
}

/* --- styling for text in middle of left side --- */
.middle-text {
  width: 100%;
  height: 80%;
}

.big-text {
  margin-top: 30%;
  letter-spacing: 0.25em;
  font-size: 5em;
}

.little-text {
  width: 70%;
  padding-top: 20px;
  font-size: 1rem;
  line-height: 1.5em;
}

/* --- styling for input field --- */
.input-field {
  padding-top: 40px;
  display: flex;
}

input[type="text"] {
  width: 80%;
  height: 3rem;
  border-radius: 25px;
  border: 1px solid hsl(0, 36%, 70%);
  outline: none;
}

input[placeholder] {
  padding-left: 2rem;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

button {
  width: 17%;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 25px;
  margin-left: -15%;
}

button:hover {
  background: hsl(0, 80%, 86%);
}

/* ----- div below error text ----- */

.error-text {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 10px;
}

.active-text {
  padding-top: 10px;
}

.error-icon {
  width: 2em;
  height: 2em;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* --- styling for image on right side --- */
#right-side {
  width: 40%;
  height: 100%;
  background-image: url("/Base-Apparel/images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 100%;
  background-size: 100% 100%;
  object-fit: cover;
}

/* // ----- mobile screen styling ----- // */
@media all and (max-width: 500px) {
  body {
    /* background: white; */
    /* display: flex; */
    /* flex-direction: column; */
  }

  .logo {
    display: hidden;
  }

  .mobile-logo {
    width: 100%;
    height: 3rem;
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
  }
}
