* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // reusable Classes // */
.text-weight-300 {
  font-weight: 300;
}

.text-weight-400 {
  font-weight: 400;
}

.text-weight-600 {
  font-weight: 600;
}

.color-desaturated-red {
  color: hsl(0, 36%, 70%);
}

.color-soft-red {
  color: hsl(0, 93%, 68%);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.color-dark-grayish-red {
  color: hsl(0, 6%, 24%);
}

.hidden {
  display: none;
}

.incorrect-input {
  border: 1px solid red;
}

/* --- regular styling begins --- */
body {
  width: 100vw;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 80%;
  background: lightblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: url("/Base-Apparel/images/bg-pattern-desktop.svg");
  /* justify-content: space-between; */
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: start;
    flex-wrap: nowrap;
    background: url("/Base-Apparel/images/bg-pattern-desktop.svg");
  }
}

.hero-image {
  background: url("/Base-Apparel/images/hero-desktop.jpg");
  height: 100%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .hero-image {
    background: url("/Base-Apparel/images/hero-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100% 100%;
    width: 100%;
    height: 30%;
  }
}

.logo {
  width: 60%;
  height: 15%;
  /* margin-left: 20%; */
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 100%;
    height: 10%;
  }
}

.logo-img {
  padding-left: 20%;
}

@media screen and (max-width: 500px) {
  .logo-img {
    padding-left: 0;
    padding-left: 5%;
    height: 1.5rem;
  }
}

/* ----- text under logo ----- */
.header {
  font-size: 5rem;
  letter-spacing: 1rem;
  padding-left: 20%;
  padding-top: 3rem;
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 3rem;
    padding-left: 0%;
    padding-top: 3rem;
    text-align: center;
  }
}

.hello-shoppers {
  padding-left: 20%;
  padding-top: 20px;
  width: 70%;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 800px) {
  .hello-shoppers {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    text-align: center;
  }
}

.main-text {
  width: 60%;
  /* display: none; */
}

@media screen and (max-width: 800px) {
  .main-text {
    width: 100%;
  }
}

/* ----- email input field ----- */
.input-field {
  padding-top: 40px;
  width: 60%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .input-field {
    order: 6;
    width: 100%;
  }
}

input[type="text"] {
  width: 60%;
  height: 3rem;
  border-radius: 25px;
  border: 1px solid hsl(0, 36%, 70%);
  outline: none;
}

@media screen and (max-width: 800px) {
  input[type="text"] {
    width: 80%;
  }
}

input[placeholder] {
  padding-left: 2rem;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

/* --- submit button --- */
button {
  width: 6rem;
  height: 3rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 25px;
  margin-left: -10%;
}

@media screen and (max-width: 800px) {
  button {
    width: 4.5rem;
  }
}

button:hover {
  background: hsl(0, 80%, 86%);
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

@media screen and (max-width: 800px) {
  .main-text {
    /* display: none; */
    order: 3;
  }
}
